// Add your own custom styles here

.content {
    --tw-prose-links: #e5e7eb;
    --tw-prose-invert-links: #fff;
}

.content :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    font-size: 20px;}

.content :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500;}

.notice {
margin-bottom: 1.5rem;
border: 1px solid #e5e7eb;
padding: 1.5rem;}

.notice-head {
display: inline-block;
align-items: center; }

.notice-head svg {
margin-right: 0.5rem; }

.notice-head p {
font-size: 0rem;
font-weight: 600;
color: #1f2937;
margin: 0;
line-height: 1; }

.notice-body {
margin-top: 0rem;
font-size: 1.2rem;
font-weight: 400;
display: inline-block; }

.notice-body p {
margin: 0; }


code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1.5em; /* 4 */
}

